################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SoundBoard/FileContentIndex/09916f23-a881-4e70-99c3-eb179002bb2d.vsidx
/.vs/SoundBoard/FileContentIndex
/.vs/slnx.sqlite
